@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
body {
  background: #fff;
  font-family: "Outfit", sans-serif !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Syne", sans-serif !important;
}
/* Header */
#toggler-btn.tilted .toggle-line1 {
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg) translate(6px, 6px);
}
#toggler-btn.tilted .toggle-line2 {
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg) translate(-4px, -6px);
}
/* Banner */
.banner-sec {
  background: url("/Images/Banner-bg.webp") no-repeat top/cover;
  background-attachment: fixed;
  position: relative;
}
.banner-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.15)
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  /* z-index: 1; */
}
.hero-para {
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
}
/* Service  */
.service-sec {
  background: url(../public/Images/Service-bg.png) no-repeat center/cover;
  background-attachment: fixed;
}
@media screen and (max-width: 420px) {
  .nav-collapsed {
    padding-right: 0px;
  }
}
