@import "tailwindcss";
@font-face {
  font-family: "Figtree";
  src:
    url("/Font/figtree_5.2.10/webfonts/figtree-latin-400-normal.woff2")
      format("woff2"),
    url("/Font/figtree_5.2.10/webfonts/figtree-latin-400-normal.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src:
    url("/Font/figtree_5.2.10/webfonts/figtree-latin-700-normal.woff2")
      format("woff2"),
    url("/Font/figtree_5.2.10/webfonts/figtree-latin-700-normal.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  background: #fff;
  font-family: "Figtree", sans-serif;
}

/* Header */
#toggler-btn.tilted .toggle-line1 {
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg) translate(6px, 6px);
}
#toggler-btn.tilted .toggle-line2 {
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg) translate(-4px, -6px);
}
/* Banner */
.banner-sec {
  background: url(../public/Images/Banner-bg.png) no-repeat center/cover;
  background-attachment: fixed;
}
@media screen and (max-width: 420px) {
  .nav-collapsed {
    padding-right: 0px;
  }
}
